$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: 0.25rem 0.5rem;
        background: #ccc;
        &:focus {
          background: rgb(224, 142, 218);
          color: rgb(12, 116, 102);
          font-weight: bold;
        }
        &:hover,
        &.active {
          background: #fff;
        }
      }
    }
    &.textarea {
      input {
        height: 100px;
        justify-content: start;
      }
    }
  }
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
